<!DOCTYPE html>

<html>
<head>
    <style>

    </style>
    <meta charset="utf-8" />
    <title>朱春晖的主页</title>
    <link rel="shortcut icon" href="http://a1.qpic.cn/psb?/V13JlESX04J3Ut/74yBX8A0qBjOUgGoHRvv6KHiWXbvmy5s5O*.u9idpso!/m/dEABAAAAAAAAnull&bo=yADIAAAAAAADByI!&rf=photolist&t=5">
</head>
<body>
    <div style="width:500px;">
    <div style="width:300px;height:250px;float:left">
    <h3> 朱春晖 </h3>
    <p>本科二年级在读</p>
    <p>学校：北京大学 元培学院</p>
    <p>专业：数据科学与大数据技术</p>
    <p>邮箱：<a href="mailto:zhuchunhui@pku.edu.cn">zhuchunhui@pku.edu.cn</a></p>
    </div>
    <div style="width:200px;height:250px;float:left">
        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3626542679,1934015742&fm=27&gp=0.jpg" alt="此处没有图片" width="200" height="250">
    </div>
    <div style="width:500px;height:200px;float:left">
    <h4>编程能力：</h4>
    <p>有C语言和C++基础，自学过matlab和html，正在学python</p>
    <h4>数学能力：</h4>
    <p>高等数学、线性代数、集合论与图论、代数结构与组合数学</p>
    <h4>英语能力</h4>
    <p>全国大学生英语四级：521分</p>
    </div>
    </div>
</body>
</html>